
@{
    Layout = null;
}

<!DOCTYPE html>
<link href = "~/lib/bootstrap/dist/css/bootstrap.min.css" rel=" stylesheet"/>
<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-outline-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-outline-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-success">Yeni kategori</button><br />
<button class=" btn btn-info">Kategori Listesi</button><br />
<button class="btn btn-danger">Kategori Açıklamaları</button>
